.nav{
    display: block;
    padding: 10px;
    height: 60px;
    width: 100%;
    background-color: #13a6a1; 
    color: rgb(0, 0, 0);
    text-align: center;
    position: sticky;
    top: 0px;
    border-bottom: 2px solid blue;
  

 
}

a{
  
       text-decoration: none;
       margin:0px 200px 0px 2px;
       padding: 10px;

}

#htag{
text-align: center;

}