
body {
    
    background-color: rgb(208, 232, 239); 
    text-align: center;
    
   
}


#img1 {
    width: 150px;       
    height: 150px;
    border-radius: 50%; 
   
}

.div1 {
   
    width: 350px;       
    padding: 20px;             
    border: 2px solid rgb(127, 187, 244);     
    background-color:white ;  
    margin-bottom: 50px; 
    text-align: center;
    margin: auto;
}




.bio {
    
    font-style: italic;
}

footer {
    background-color: black;
    border: 1px solid rgb(127, 187, 244); 
    color: white;
    text-align: center;
    width: 350px;
    margin: auto;
    padding: 20px;

    
}